.logout {
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
}

.container {
  max-width: 100% !important;
}

.id {
  border: none;
  background: none;
  max-width: 30px;
}

.Por_hacer {
  border-left: red solid 3px;
}

.On_hold {
  border-left: yellow solid 3px;
}

.Hecha {
  border-left: green solid 3px;
}

thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.output {
  width: 100% !important;
  height: 100% !important;
}

.margin-top {
  margin-top: 15px;
}

.input_size {
  width: 80px;
}

.full_width {
  width: 100%;
  font-size: 5px;
}

.hidden {
  display: none;
}